.title{  
  display: flex;  
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 1.5rem;
}

.note{  
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1.5rem;
  border-top: 1px solid gray;
  border-top-width: 100%;
}

.actions{
  display: flex;  
  justify-content: space-between;
  padding: 20px;  
}

.edits{
  display: flex;  
  gap:15px;
}
