.header{
  display: flex;
  flex-direction: row;
  background-color: white;  
  align-items: center;
  width: 100%;
  padding-left: 40px;
  gap:30px;
  height: 57px;
  top: -0.01190185546875px;
}

.div1{
  display:flex;
  gap:25px;  
  align-items: center;
}
.options{
  display: flex;
  flex-direction: row;  
  align-items: center;
  gap:25px;
}

img{  
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
}

