.header{
  display: flex;
  flex-direction: row;
  background-color: white;  
  align-items: center;
  width: 100vw;
  padding-left: 40px;
  gap:30px;
  width: 1417.109375px;
  height: 57px;
  top: -0.01190185546875px;
}

.div1{
  display:flex;
  gap:25px;  
  align-items: center;
}
.options{
  display: flex;
  flex-direction: row;  
  align-items: center;
  gap:25px;
}
@media(max-width:880px){
  .options{
    display: none;
  }
}

img{  
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
}

@media (max-width:1350px){
  .header{
    display: flex;
    flex-direction: row;
    background-color: #ED8620;  
    justify-content: space-around;
    color: white;
    width: 100%;
  }
  
}